
/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */

}


/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}


html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.page-header {
  background-color: #eeeeee;
}
.wraper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 45px;
  display: flex;
  align-items: center;
}
.logo-img{
  outline: 1px solid Blue;
}

/* навигация */
.main-nav-list {
  margin: 0;
  padding: 0;
  margin-left: 200px;
  display: flex;
  list-style: none;
  line-height: 1.88;
  text-transform: uppercase;
  font-weight: 500;
  outline: 1px solid Blue;
}
.main-nav-item {
  margin-left: 20px;
}
.main-nav-link {
  color: #000000;
}
.main-nav-link:hover {
  color: #fb565a;
}
.main-nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* корзина */
.basket {
  margin-left: auto;
  position: relative;
  padding-left: 30px;
  line-height: 1.88;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  outline: 1px solid Blue;
}
.basket::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 3px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  background-image:url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: 1px solid Blue;
}

.basket:hover {
  color: #fb565a;
}
.basket:active {
  color: rgba(0, 0, 0, 0.3);
}

/* о слогане */
.main-slide {
  background-color: #eeeeee;
}
.main-slide-wraper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-slogan {
  width: 376px;
  font-size: 55px;
  font-weight: 700;
  line-height: 1;
  outline: 1px solid Blue;
}
.main-subtitle {
  width: 361px;
  line-height: 1.5;
  color: #283136;
  outline: 1px solid Blue;
}

/* кнопка шапки */
.button  {
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  line-height: 1.13;
  text-align: center;
  color: #ffffff;
  outline: 1px solid Blue;
}
.button:hover {
  background-color: #e74246;
  text-align: center;
  color: #ffffff;
}
.button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* блок вебсайтов */
.web-section {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services {
  width: 300px;
}
.practice-title {
  font-size: 24px;
  line-height: 1.25;
  outline: 1px solid Blue;
}
.practice-text {
  color: #283136;
  line-height: 1.5;
  outline: 1px solid Blue;
  }

  /* кнопки web */
  .applications {
    background-color: #00ca74;
  }
  .applications:hover {
    background-color: #00bc6c;
  }
  .applications:active {
    background-color: #00aa62;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  }
  .presentation {
    background-color: #efc84a;
  }
  .presentation:hover {
    background-color: #eab534;
  }
  .presentation:active {
    background-color: #e5a722;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  }

/* блок о нас */
.information-section {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information {
  width: 650px;
}
.information-slogan {
  font-size: 45px;
  line-height: 1;
  outline: 1px solid Blue;
}
.information-subtitle {
  color: #283136;
  line-height: 1.5;
  outline: 1px solid Blue;
}
.development-title {
  color: #283136;
  font-weight: 700;
  line-height: 1.5;
  outline: 1px solid Blue;

  }
.development-list {
  list-style: none;
  line-height: 1.5;
  outline: 1px solid Blue;

  }
.development-item {
  color: #283136;
  }

  /* о компании */
  .company {
    width: 360px;
    margin-left: auto;
  }
  .image-sign {
    outline: 1px solid Blue;
  }
.stability-slogan {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  outline: 1px solid Blue;
}
.stability-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.stability-list {
  list-style: none;
}
.total {
  font-size: 45px;
  line-height: 1;
  outline: 1px solid Blue;
}
.total-text {
  line-height: 1.13;
  color: #283136;
  outline: 1px solid Blue;
}

/* сайты */
.partners-section {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid Blue;
}

/* подвал */
.page-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  /* justify-content: space-between; */
}
.container-title {
  margin-left: 139px;
}
.footer-title {
  font-size: 36px;
  line-height: 1;
}
.footer-paragraph {
  line-height: 1.38;
  color: #444444;
}
.socials-list {
  margin: 0;
  margin-top: 65px;
  padding: 0;
  display: flex;
  order: 1;
  list-style: none;
}
.socials-item {
  width: 60px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
}
.container-title {
  order: 2;
}

/* иконки соцсетей */
  .vk-icon::before {
    content: "";
    position: absolute;
    /* top: 32px;
    left: 27px; */
    width: 26px;
    height: 15px;
    border: 30px solid #e1e1e1;
    border-radius: 50%;
    background-color: #e1e1e1;
    transform: translateY(-50%);
    background-image:url(../img/vk-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .fb-icon::before {
    content: "";
    position: absolute;
    /* top: 14px;
    left: 3px; */
    width: 12px;
    height: 22px;
    border: 30px solid #e1e1e1;
    border-radius: 50%;
    background-color: #e1e1e1;
    transform: translateY(-50%);
    background-image:url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .insta-icon::before {
    content: "";
    position: absolute;
    /* top: 14px;
    left: 3px; */
    width: 21px;
    height: 21px;
    border: 30px solid #e1e1e1;
    border-radius: 50%;
    background-color: #e1e1e1;
    transform: translateY(-50%);
    background-image:url(../img/insta-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
.icon {
  background-color: #e1e1e1;
}
.icon:hover {
  background-color: #e74246;
}
.icon:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* catalog */

.page-main-catalog {
display: flex;
flex-direction: column;
}

/* заголовок */
.title-wraper {
  background-color: #eeeeee;
}
.main-title {
  width: 1200px;
  margin-top: 100px;;
  margin-bottom: 115px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 55px;
  line-height: 1;
  text-align: center;
  color: #000000;
  outline: 1px solid Blue;
}
/* фильтр */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

  /* названия */
.content-scroll {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
/* перчень названий */
.sorting{
  margin-top: 60px;
  margin-bottom: 59px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}
.names-list {
  margin-top: 63px;
  display: flex;
  list-style: none;
  font-size: 14px;
}
.names-item {
  margin-left: 26px;
}
.names-link {
  line-height: 1.29;
  color: rgba(0, 0, 0, 0.3);
}
.names-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.names-link:active {
  color: #000000;
}

/* форма */
.main-section {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.main-section-wraper {
  width: 260px;
  margin-top: -30px;
}

.cost-form {
  display: flex;
  flex-direction: column;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
}

.form-legend {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 500;
  color: #000000;
}
.field-radio-text {
  line-height: 20px;
  color: #283136;
}
.field-radio-text:hover {
  line-height: 20px;
  color: #283136;
}
.field-checkbox-text {
  line-height: 20px;
  color: #283136;
}

/* кнопка в форме */
.show {
  background-color: #ffffff;
  color: #000000;
  }
  .show:hover {
  background-color: #dfdfdf;
  color: #000000;
  }
  .show:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  }
.main-catalog {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.image-card {
  margin-left: 40px;
  margin-bottom: 33px;
}
.selection-button {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
}
